html
    head
        link(rel ="stylesheet" href='stylesheets/commentsStyle.css' type="text/css")
    body
        div(id="comments_page")
            form(action="/addcomment/#{user.date}" method="post" )
                div(id="upper_part")
                    each item in user.comments
                        p #{item.content}
                div(id="lower_part")
                    input(id="comment" name="comment" placeholder="write comment...")
                    button(id="btn" type="submit") submit
