body {
    background-image:url("../images/wbg.png");
    max-width: 100%;
    padding-left: 1%;
    padding-top: 1%;
}
.sidebar{
    background: white;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 2px #777;
    margin-bottom: 20px;
<<<<<<< HEAD
}

#main{
    height: 100%;
    overflow-y: scroll;
    margin: 0;
}
.main_content{
    background:white;
    opacity: 0;
    width:98%;
    padding: 1%;
    position: relative;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 350px;
<<<<<<< HEAD
=======
=======
>>>>>>> updated
=======
}
#main{
    height: 100%;
    overflow-y: scroll;
    margin: 0;
}
.main_content{
    background:white;
    opacity: 0;
    width:98%;
    padding: 1%;
    position: relative;
    border-radius: 3px;
>>>>>>> 5ec137135399641820aac55d2aef582736476e24
>>>>>>> 0e0f805d412953876086576c3e03b25fdd8a1c93
    max-width: 100%;
    word-wrap: break-word;
    box-shadow: 1px 1px 10px 2px #777;
    margin: 100px auto 10px;

}
#main_contentd{
    background:white;
    width:50%;
    margin: 0 auto;
    padding: 1%;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-left: 350px;
    max-width: 100%;
    word-wrap: break-word;

}
#comments_page{
    margin: 0 auto;
    width: 100%;
    background: lightblue;
    border-radius: 5px;
    max-height: 50px;
    overflow-y: scroll;
}
input {
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    padding: 4px;
    transition: background .2s linear;
    font-size: 13px;
    line-height: 20px;
    background-color: white;
    width: 100%;
    outline:none;
}
input:hover{
    border: 1px solid  #3b88c3;
}
input:focus{
    border: 1px solid  #3b88c3;
}
textarea{
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    padding: 4px;
    transition: background .2s linear;
    font-size: 13px;
    line-height: 20px;
    background-color: white;
    width: 100%;
    outline: none;
}
textarea:hover{
    border: 1px solid  #3b88c3;
}
textarea:focus{
    border: 1px solid  #3b88c3;
}
button{
    border: 0px solid #3b88c3;
    background-color:lightblue;
    border-radius: 100px;
    margin-left: 3px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.commentsa {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    letter-spacing: -1px;
    color: #0074D9;
    font-size: 18px;
}

a:hover{
    text-decoration:underline;
    color: #191970;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.trashIcon:hover{
    color: darkred;
}
@media only screen and (max-width: 600px) {
    body{
        margin: 0 auto;
        padding: 0;
        margin: 2%;
    }
   .sidebar {
       float: none;
       width: 94%;
       margin: 1%;
    }
    #main{
        float: none;
        width: 100%;
        margin: 1% auto;
        padding: 0;
    }
}