link(href='/public/stylesheets/style.css')
body
    div(class ="sidebar")
        form(action="/new" method="post")
            table
                tr
                    td
                        input(name ="Name" placeholder="Enter your name")
                tr
                    td
                        input(name="post" placeholder="what's on your mind")
                tr
                    td
                        button(type="submit" name="submit") submit

    
